<h1>All Post</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Id</th>
			<th>Files</th>
			<th>Title</th>
			<th>Status</th>
			<th>Category</th>			
			<th>Allow Comments</th>
			<th>View Post</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
	    {{#each posts}}
		<tr>
			<td>{{id}}</td>
			<td><img src="/uploads/{{file}}" alt="" height="50"></td>
			<td>{{title}}</td>
			<td>{{status}}</td>
			<td>{{category.name}}</td>		
			<td>{{allowComments}}</td>	
			<td><a href="/post/{{id}}">View</a></td>
			<td>{{generateDate date 'MMMM Do YYYY'}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>